@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #282C35;
  width: 100vw;
  color: #FFFFFF;
  font-family: Poppins,
    sans-serif;
  ;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 auto;
  background: #1A1C22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8.7%;
  position: fixed;
  top: 0px;
  padding-right: 25px;
  /* left: 213.16px; */
}

.content {
  display: flex;
  flex: 1;
  margin-top: 74.94px;
  margin-left: 213.16px;
  /* padding-right: 25px; */
}

.sidebar {
  min-width: 213px;
  height: 100%;
  background: #1A1C22;
  position: fixed;
  top: 0px;
  /* flex-shrink: 0; */
}

.menu-name {
  width: 114px;
  height: 30px;
  position: absolute;
  top: 21.48px;
  left: 24.15px;
  font-size: 19.98px;
  font-weight: 600;
  padding-left: 213.16px;
}

.right,
.user-account {
  display: flex;
  align-items: center;
  height: 33.31px;
}

.search-bar {
  width: 214.82px;
  height: 33.31px;
  border-radius: 6.66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282C35;
}

/* .search-input {
  margin: 0 12.49px;
  background: #282C35;
  border: none
} */

.search-input,
.search-input::placeholder {
  font-family: Poppins;
  font-size: 9.99px;
  font-weight: 400;
  color: #9E9E9E;
  margin: 0 12.49px;
  background: #282C35;
  border: none;
  outline: none;
}

.search-icon {
  padding-right: 12.49px;
  height: 14.99px
}

.user-account {
  display: flex;
  width: 73.27px;
  justify-content: space-between;
  margin-left: 20px
}

.noti-container {
  position: relative;
  display: flex;
  align-items: center;

}

.noti-icon {
  width: auto;
  z-index: 0;
}

.dot-noti-icon {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 4px
}

.user-account-photo {
  width: 33.31px;
  height: 33.31px
}

.logo {
  position: absolute;
  height: 36px;
  top: 23px;
  left: 28px;

}

.top-menu {
  position: relative;
  top: 113.24px;
  left: 33.31px;
  gap: 26.64px;
  display: flex;
  flex-direction: column;
}

.top-menu [class$='-container'] {
  font-family: Poppins;
  font-size: 11.66px;
  font-weight: 600;
  line-height: 17.49px;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.menu-block {
  position: relative;
}

.active .menu-icon path {
  fill: #1FCB4F;
}

.yellow-space {
  display: none;
  position: absolute;
  top: 0;
  right: 33.31px;
  background: #FFC01E;
  width: 6.66px;
  height: 19.98px;
  border-radius: 4.16px 0px 0px 4.16px;
}

.yellow-space.show {
  display: block;
}

.top-menu [class$='-container']:hover {
  color: #9E9E9E;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.top-menu .active,
.top-menu .active:hover {
  color: #1FCB4F;
}

.dashboard-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(214.82px, 1fr));
  /* grid-template-columns: repeat(4, 214.82px); */
  width: 100%;
  grid-auto-rows: 125px;
  column-gap: 25px;
  padding: 0 25px;
}

.dashboard-item {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background: #1A1C22;
  height: 95.75px;
  margin-top: 33px;
  border-radius: 8.33px;
}


.dashboard-item-icon {
  width: 19.98px;
  height: 19.98px;
}

.dashboard-item-icon-container {
  background-color: #282C35;
  width: 39.97px;
  height: 39.97px;
  border-radius: 8.33px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dashboard-item-title {
  color: #9E9E9E;
  font-size: 11.66px;
  font-weight: 400;
  /* padding-top: 17px */
}

.dashboard-item-amount {
  font-size: 26.64px;
  font-weight: 500;
}